.download2-section {
  margin-top: rem(175px);
}
.download2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-align: center;
  h2 {
    margin-bottom: rem(30px);
  }
  p {
    margin-bottom: rem(45px);
  }
  &__button {
    cursor: pointer;
    transition: opacity 150ms ease-in-out;
    &:hover {
      opacity: 0.75;
    }
    a {
      text-decoration: none;
      color: #fff;
      font-size: var(--fs-button-link);
      font-weight: 600;
    }
    color: #ffffff;
    border-radius: rem(50px);
    padding: rem(22px) rem(80px);

    &:not(:last-child) {
      margin-bottom: rem(24px);
    }
  }

  .green-button {
    background-color: $strongCyan;
  }

  .blue-button {
    background-color: $lightBlue;
  }
}

@include for-desktop-up {
  .download2-section {
    margin-top: rem(165px);
  }
  .download2 {
    p {
      width: 55%;
    }
  }

  .download__buttons {
    display: flex;
    .download__button {
      padding: rem(22px) rem(36px);
      &:not(:last-child) {
        margin-bottom: 0;
        margin-right: rem(16px);
      }
    }
  }
}
